ul {
  list-style-type: none;
}
body {
  background-color: black;
}
.trending {
  color: white;
}
.container ul {
  display: flex;
  gap: 10px;
}
h3 {
  color: white;
  margin-left: 14%;
}
h4 {
  color: white;
}
p {
  color: white;
}
.reasonToJoin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasonToJoin ul {
  display: flex;
  gap: 12px;
  width: 75%;
}
h4 {
  font-size: 26px;
}
.reasonToJoin ul li {
  font-size: 20px;
  flex: 1;
  padding: 15px;
  background: #a8c0ff;
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  border-radius: 10px;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="email"] {
  width: 500px;
  height: 40px;
  background-color: black;
  color: white;
  border: 2px solid gray;
  vertical-align: middle;
  border-radius: 10px;
}
.getStarted {
  width: 175px; /* Adjust the width as needed */
  height: 50px;
  background-color: red;
  color: white;
  font-size: 24px;
  border: none;
  vertical-align: middle;
  border-radius: 10px;
}
